<h1>ola Handlebars</h1>
{{#if approved}}
<p>parabens, seu cadastro foi aprovado</p>
{{else}}
<p>seu cadastro ainda não foi aprovado</p>
{{/if}}
{{#if auth}}
<p>usuario autenticado, <a href="/dashboard">dashboard</a> </p>
{{/if}}